{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
<h1 class="display- ">Sarahah app</h1>
<p class="lead">A Sarahah website built with Django.</p>
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'sarahah_list' %}" role="button">View All Sarahaat</a>
    </p>
</div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}